name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11', pypy-3.10-v7.x]
        include:
          - python-version: 3.8
            py: py38
          - python-version: 3.9
            py: py39
          - python-version: '3.10'
            py: py310
          - python-version: '3.11'
            py: py311
          - python-version: pypy-3.10-v7.x
            py: pypy3

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade hatch
      - name: Run QA
        run: make qa
        shell: bash
      - name: Run tests
        run: make test
        shell: bash

